<h1>Edit Bank Account</h1>
<form>
  <div class="form-group">
    <div class="row">
        <div class="col-xs-4" style="text-align:right;line-height:2em;">
            <label>Account Holder</label>
        </div>
        <div class="col-xs-8" style="padding-left: 0px">
             <span class="col-xs-7">{{bankInfo.accountholder}}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:right;line-height:2em;">
          <label>Account Type</label>
      </div> 
      <div *ngFor="let type of accountType">
          <div class="col-xs-3">
            <label class="radio-inline">
              <input type="radio" name="account-type" [(ngModel)]="bankInfo.accountType" [value]="type.value">
              {{type.display}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:right;line-height:2em;">
          <label for="routing-number">Routing Number</label>
      </div>
      <div class="col-xs-8">
          <input type="text" name="routing" class="form-control" id="routing-number"[(ngModel)]="bankInfo.routingNumber" #routing="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:right;line-height:2em;">
         <label for="account-number">Account Number</label>
      </div>
      <div class="col-xs-8">
          <input type="text" name="accountnumber" class="form-control" id="account-number" [(ngModel)]="bankInfo.accountNumber" #accountnumber="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:right;line-height:2em;">
         <label for="bank-name">Bank Name</label>
      </div>
      <div class="col-xs-8">
         <input type="text" name="bankname" class="form-control" id="bank-name" [(ngModel)]="bankInfo.bankName" #bankname="ngModel">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
        <img width="50%" src="modules/product-management/src/app/banking-widget/media/check_routing_account.png">
    </div>
  </div>
  
  <div class="form-group" style="margin-top: 25px">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-8">
          <label>I authoriaze the Masssachusetts Mutual Life Insurance Company ("The Company") to debit {{customerInfo.premiumAmt| currency}}
        on a monthly basis beginning on {{customerInfo.effectiveDate | date}} from my bank account <span *ngIf="bankInfo.accountNumber">ending in {{bankInfo.accountNumber  | slice: -3}} </span>via Electronic Funds Transfer (EFT).
        This authorization will remain in effect until the Company receives notification of termination. I may revoke this authorization by calling {{customerInfo.helpLine}}
        or writing to {{customerInfo.helpAddr}}</label>
      </div>
    </div> 
  </div>

  <div class="row">
      <div class="col-xs-4" style="text-align:right;line-height:2em;">
        <a>Cancel</a>
      </div>  
      <div class="col-xs-8">
          <a href="javascript:void(0)" class="btn btn-default" style="width:80%;background-color:#ccc;color:white;" (click)="updateBankInfo()">Authorize</a>
      </div>  
  </div>
 
  <div class="row" style="margin-top:25px">
      <div class="col-xs-4"></div>  
      <div class="col-xs-8">
        <a onclick="window.open('modules/product-management/src/app/banking-widget/media/Premium_Payment_Terms_and_Conditions.pdf'); return false;">Premium Payment Service Term & Conditions</a>
      </div>  
  </div>
</form>

