<h1>Edit Bank Account</h1>
<form>
  <div *ngIf="customerInfo.isPaymentOverDue">
      <label>Payment on this policy is overdue.</label>
      <p>This policy is in Pre-Lapse and a premium amount that will be drafted upon submission of update to bring policy in-force</p>
  </div>
  <div class="form-group">
    <div class="row">
        <div class="col-xs-4" style="text-align:left;line-height:2em;">
            <label>Account Holder</label>
        </div>
        <div class="col-xs-8" style="padding-left: 0px">
             <span class="col-xs-7">{{bankInfo.accountholder || customerInfo.lastName + ' ' + customerInfo.firstName}}</span>
        </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
          <label>Account Type</label>
      </div> 
      <div *ngFor="let type of accountType">
          <div class="col-xs-3">
            <label class="radio-inline">
              <input type="radio" name="account-type" [(ngModel)]="bankInfo.accountType" [value]="type.value">
              {{type.display}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
          <label for="routing-number">Routing Number</label>
      </div>
      <div class="col-xs-8">
          <input type="text" name="routing" class="form-control" id="routing-number"[(ngModel)]="bankInfo.routingNumber" #routing="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
         <label for="account-number">Account Number</label>
      </div>
      <div class="col-xs-8">
          <input type="text" name="accountnumber" class="form-control" id="account-number" [(ngModel)]="bankInfo.accountNumber" #accountnumber="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
         <label for="bank-name">Bank Name</label>
      </div>
      <div class="col-xs-8">
         <input type="text" name="bankname" class="form-control" id="bank-name" [(ngModel)]="bankInfo.bankName" #bankname="ngModel">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
         <label for="notes">Notes</label>
      </div>
      <div class="col-xs-8">
         <textarea name="notes" class="form-control" id="notes" [(ngModel)]="bankInfo.notes" #notes="ngModel"></textarea>
      </div>
    </div>
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-8">
         <hr>
      </div>
    </div>
  </div>  
  <div class="form-group" style="margin-top: 25px">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
          <label>Script</label>
      </div>
      <div class="col-xs-8">
          <span>{{customerInfo.firstName}} {{customerInfo.lastName}}, today, {{customerInfo.currentDate | date}} you authorize MassMutual
            to withdraw {{customerInfo.premiumAmt| currency}} monthly from your {{customerInfo.bankName}} {{bankInfo.accountType}} account
            to pay your premium. The first draft will occur on {{customerInfo.effectiveDate | date}}
            and {{customerInfo.effectiveDay}} thereafter.
            This authorization will remain in effect until you request cancellation by calling {{customerInfo.helpLine}}
            or writing to {{customerInfo.helpAddr}}.
          </span>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
        <hr>
    </div>
  </div> 

 <div class="row" style="margin-top:25px">
      <div class="col-xs-4"></div>  
      <div class="col-xs-8">
        <label>
          <input type="checkbox" name="confirmRead" [(ngModel)]="confirmRead">
          <span>I, [CS Rep], confirm that I have read above script over a recorded line</span>
        </label>
      </div>  
  </div>

  <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
        <a>Cancel</a>
      </div>  
      <div class="col-xs-8">
          <button type="submit" class="btn btn-primary" style="width:80%;color:white;" (click)="updateBankInfo()" [disabled]="!confirmRead">Submit</button>
      </div>  
  </div>
 
</form>

