<h1>Edit Bank Account</h1>
<form [formGroup]="bankInfoForm">
    <div *ngIf="customerInfo.isPaymentOverDue">
        <label>Payment on this policy is overdue.</label>
        <p>This policy is in Pre-Lapse and a premium amount that will be drafted upon submission of update to bring policy in-force</p>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label>Account Holder</label>
            </div>
            <div class="col-xs-8" style="padding-left: 0px">
                <span class="col-xs-7">{{customerInfo.accountHolder}}</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label>Account Type</label>
            </div>
            <div *ngFor="let type of accountType">
                <div class="col-xs-3">
                    <label class="radio-inline">
                        <input type="radio"
                               name="account-type"
                               [formControl]="bankInfoForm.controls['accountType']"
                               [value]="type.value">
                        {{type.display}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group"
         [ngClass]="{'has-error':displayError.routing_number && bankInfoForm.controls['routing_number'].dirty}">
        <div class="row">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label for="routing_number">Routing Number</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       name="routing_number"
                       class="form-control"
                       id="routing_number"
                       maxlength="9"
                       (blur)="validateRoutingNumber()"
                       [formControl]="bankInfoForm.controls['routing_number']">
                <p class="alert alert-danger" *ngIf="displayError.routing_number && bankInfoForm.controls['routing_number'].dirty">{{displayError.routing_number}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" [ngClass]="{'has-error':displayError.accountNumber && bankInfoForm.controls['accountNumber'].dirty}">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label for="account-number">Account Number</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       maxlength="15"
                       name="account-number"
                       class="form-control"
                       id="account-number"
                       (blur)="validateAccountNumber()"
                       [formControl]="bankInfoForm.controls['accountNumber']">
                <p class="alert alert-danger" *ngIf="displayError.accountNumber && bankInfoForm.controls['accountNumber'].dirty">{{displayError.accountNumber}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row" [ngClass]="{'has-error':displayError.bankName && bankInfoForm.controls['bankName'].dirty}">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label for="bank-name">Bank Name</label>
            </div>
            <div class="col-xs-8">
                <input type="text"
                       name="bankname"
                       class="form-control"
                       id="bank-name"
                       maxlength="45"
                       (blur)="validateBankName()"
                       [formControl]="bankInfoForm.controls['bankName']">
                <p class="alert alert-danger" *ngIf="displayError.bankName && bankInfoForm.controls['bankName'].dirty">Please input bank name.</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-4" style="text-align:left;line-height:2em;">
                <label for="notes">Notes</label>
      </div>
      <div class="col-xs-8">
         <textarea name="notes" class="form-control" id="notes" [formControl]="bankInfoForm.controls['notes']"></textarea>
      </div>
    </div>
  </div>  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-4"></div>
      <div class="col-xs-8">
         <hr>
      </div>
    </div>
  </div>  
  <div class="form-group" style="margin-top: 25px">
    <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
          <label>Script</label>
      </div>
      <div class="col-xs-8">
          <span>{{customerInfo.accountHolder}}, today, {{customerInfo.currentDate | date}} you authorize MassMutual
            to withdraw {{customerInfo.premiumAmt| currency}} monthly from your {{customerInfo.bankName}} {{bankInfo.accountType}} account
            to pay your premium. The first draft will occur on {{customerInfo.effectiveDate | date}}
            and {{customerInfo.effectiveDay}} thereafter.
            This authorization will remain in effect until you request cancellation by calling {{customerInfo.helpLine}}
            or writing to {{customerInfo.helpAddr}}.
          </span>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-8">
        <hr>
    </div>
  </div> 

 <div class="row" style="margin-top:25px">
      <div class="col-xs-4"></div>  
      <div class="col-xs-8">
        <label>
          <input type="checkbox" name="confirmRead" [formControl]="bankInfoForm.controls['confirmRead']">
          <span>I, [CS Rep], confirm that I have read above script over a recorded line</span>
        </label>
      </div>  
  </div>

  <div class="row">
      <div class="col-xs-4" style="text-align:left;line-height:2em;">
        <a href="javascript:void(0)">Cancel</a>
      </div>  
      <div class="col-xs-8">
          <button type="submit"
                  class="btn btn-primary"
                  style="width:80%;color:white;"
                  (click)="updateBankInfo()"
                  [disabled]="!bankInfoForm.dirty || !enableSubmitButton() || !bankInfoForm.value['confirmRead']">Submit</button>
      </div>  
  </div>
 
</form>

